.Search{
  form{
    position: relative;
    .input{
      width: 35px;
      height: 35px;
      background: white;
      border-radius: 50%;
      transition: .2s ease-in-out;
    }
    .input:focus, .FiSearch:focus .input{
      background: white;
      width: 250px;
      border-radius: 10px;
      
    }
    .input::placeholder{
      color: black;
    }
    .FiSearch{
      position: absolute;
      right: 6px;
      top: 8px;
      font-size: 1.3rem;
      color: black;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
}